{% extends "base.html" %}
{% load static %} 
{% block title %}home{% endblock %}
        <!-- CSS only -->




{% block content %}
<div class="clearfix ">
	<a class="btn" href="{% url 'calendar' %}?{{ prev_month }}"> Prev</a>
	<a class="btn" style="margin:0 5px;" href="{% url 'event_new' %}"> New Event </a>
	<a class="btn" href="{% url 'calendar' %}?{{ next_month }}"> Next </a>
</div>

{{ calendar }}
{{ description }}
    <style>

      .animation {
        {% comment %} margin: 2rem 0; {% endcomment %}
        {% comment %} font-size: 3rem; {% endcomment %}
        
        /* Скроем элемент в начальном состоянии */
        opacity: 0;
        transform: translateY(20px);
      }
      
      .animation.animation-show {
        opacity: 1;
        transition: all 1.5s;
        transform: translateY(0%);
      }

    body {
  font-family: "ptsans", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
		.left {
	  float: left;
	}

	.right {
	  float: right;
	}

	.btn {
		border-radius:3px;
	  outline: none;
	  color: black;
	  box-shadow: 0 0 0 0;
		background-color: #D4D4D4;
	}
	.btn:hover{
		background-color:#ED7934;
		color:white;
	}
	.clearfix {
		padding:0;
		display:flex;
		justify-content:center;
	  margin: 15px auto;
	}
	
		.calendar {
	  width: 98%;
	  margin: auto;
	  font-size: 13px;
	}

	.calendar tr, .calendar td {
	  border: 0px solid gray;
		transition:0.5s;
	}
		.calendar td:hover {
		background-color:#91F0FF;
		transition:0.5s;
		cursor:pointer;
	}


	.calendar th {
		background-color:#FA7D00;
	  padding: 10px;
	  text-align: center;
	  font-size: 18px;
	}

	.calendar td {
	  width: 100px;
		box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
	  height: 130px;
	  padding: 20px 0px 0px 5px;
	}
	.calendar li{
		background:#91F0FF;
		list-style:none;
		}

	.month {
	  font-size: 25px;
	}

	.date {
	  font-size: 16px;
	}

	ul {
	  height: 100%;
	  padding: 0px 5px 0px 5px;
	}

	a {
		text-decoration:none;
	  color: #17a2b8;
	}

</style>
     {% endblock %}

		 <script>
			function onEntry(entry) {
				entry.forEach(change => {
					if (change.isIntersecting) {
					 change.target.classList.add('animation-show');
					}
					else{
						change.target.classlist.remove('animation-show');
					}
				});
			}
			
			let options = {
				threshold: [0.5] };
			let observer = new IntersectionObserver(onEntry, options);
			let elements = document.querySelectorAll('.animation');
			
			for (let elm of elements) {
				observer.observe(elm);
			}
		
		</script>


